<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form class="">
      <div class="form-floating mb-3">
      <input [(ngModel)]="name" name="name" type="text" class="form-control rounded-3" id="floatingInput" placeholder="name">
      <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input [(ngModel)]="desc" name="desc" type="text" class="form-control rounded-3" id="floatingInput" placeholder="Description">
        <label for="floatingInput">Description</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('save')">Save</button>
  </div>
</ng-template>